/helper.ipynb
/helper.py
/PCU_Anleitungen_20SS.pdf
.aux/__MAIN_FILE.aux
.aux/__MAIN_FILE.bbl
.aux/__MAIN_FILE.bcf
.aux/__MAIN_FILE.blg
.aux/__MAIN_FILE.fdb_latexmk
.aux/__MAIN_FILE.lof
.aux/__MAIN_FILE.log
.aux/__MAIN_FILE.lot
.aux/__MAIN_FILE.run.xml
.aux/__MAIN_FILE.toc
.aux/chapters/1_chap.aux
.aux/chapters/2_chap.aux
.aux/chapters/3_chap.aux
.aux/chapters/4_chap.aux
.aux/chapters/5_chap.aux
.vscode/ltex.dictionary.de-DE.txt
